.App{
  background-color: #868686; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  position: absolute;
  background-color: white;
  width: 100%; 
  bottom: 1px;
}
footer p {
  padding-left: 10px;
}